In [2]:
#import packages
import numpy as np
import pandas as pd
import csv as csv
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multiclass import OneVsOneClassifier
from sklearn.cross_validation import train_test_split

In [3]:
#read data
data = pd.read_json("train.json")

ValueError: Unexpected character found when decoding 'true'

In [5]:
data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10.0,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000.0,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004.0,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007.0,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013.0,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [6]:
data["building_id"].describe()

count     49352
unique     7585
top           0
freq       8286
Name: building_id, dtype: object

In [8]:
list(data)

['bathrooms',
 'bedrooms',
 'building_id',
 'created',
 'description',
 'display_address',
 'features',
 'interest_level',
 'latitude',
 'listing_id',
 'longitude',
 'manager_id',
 'photos',
 'price',
 'street_address']

In [1]:
#bathroom is numeric
#bedroom is numeric
#created need to convert to python created
data['created']=pd.to_datetime(data["created"])
#extract pieces
data['year']=data['created'].dt.year
data['month']=data['created'].dt.month
data['day']=data['created'].dt.day
#description need to remove all empty spaces-number of characters
data['desc_numc']=data['description'].apply(lambda x: len(x.replace(" ","")))
#description to count the number of words
data['desc_num']=data['description'].apply(lambda x: len(x.split()))
#number of features
data['features_num']=data["features"].apply(len)
#number of photos
data['photos_num']=data['photos'].apply(len)

NameError: name 'pd' is not defined

In [37]:
list(data)
data['desc_num']
data['desc_numc']

10.0         494
10000.0        0
100004.0     598
100007.0     413
100013.0     412
100014.0       0
100016.0     493
100020.0     815
100026.0      21
100027.0     887
100030.0     141
10004.0      586
100044.0     590
100048.0     486
10005.0      484
100051.0     419
100052.0     297
100053.0    1068
100055.0       0
100058.0       0
100062.0     839
100063.0     238
100065.0       0
100066.0     800
10007.0      734
100071.0     656
100075.0     357
100076.0     619
100079.0     131
100081.0     335
            ...
99915.0      466
99917.0        0
99919.0      597
99921.0      361
99923.0      419
99924.0      645
99931.0      149
99933.0      566
99935.0      581
99937.0      297
9994.0       436
99953.0     1158
99956.0      332
99960.0      387
99961.0      599
99964.0      543
99965.0      540
99966.0      599
99979.0        0
99980.0      494
99982.0      614
99984.0      295
99986.0      253
99987.0      540
99988.0      351
9999.0       673
99991.0      935
99992.0      588
99993.0      637
99994.0      667
Name: desc_numc, dtype: int64

In [35]:
#created need to convert to python created
data['created']=pd.to_datetime(data["created"])
#extract pieces
data['year']=data['created'].dt.year

In [34]:
pred = ["bathrooms","bedrooms","year","month","day","desc_num","features_num","price","photos_num","latitude","longitude"]
predc = ["bathrooms","bedrooms","year","month","day","desc_numc","features_num","price","photos_num","latitude","longitude"]

In [14]:
list(pred)

['bathrooms',
 'bedrooms',
 'year',
 'month',
 'day',
 'desc_num',
 'features_num',
 'price',
 'photos_num',
 'latitude',
 'longitude']

In [38]:
X=data[pred]
X2=data[predc]
Y=data['interest_level']

#create dummy variable for Y
y_dummies = pd.get_dummies(data['interest_level'])

In [39]:
X.head()

,bathrooms,bedrooms,year,month,day,desc_num,features_num,price,photos_num,latitude,longitude
10.0,1.5,3,2016,6,24,93,0,3000,5,40.7145,-73.9425
10000.0,1.0,2,2016,6,12,0,5,5465,11,40.7947,-73.9667
100004.0,1.0,1,2016,4,17,92,4,2850,8,40.7388,-74.0018
100007.0,1.0,1,2016,4,18,78,2,3275,3,40.7539,-73.9677
100013.0,1.0,4,2016,4,28,67,1,3350,3,40.8241,-73.9493

In [40]:
X2.head()

,bathrooms,bedrooms,year,month,day,desc_numc,features_num,price,photos_num,latitude,longitude
10.0,1.5,3,2016,6,24,494,0,3000,5,40.7145,-73.9425
10000.0,1.0,2,2016,6,12,0,5,5465,11,40.7947,-73.9667
100004.0,1.0,1,2016,4,17,598,4,2850,8,40.7388,-74.0018
100007.0,1.0,1,2016,4,18,413,2,3275,3,40.7539,-73.9677
100013.0,1.0,4,2016,4,28,412,1,3350,3,40.8241,-73.9493

In [17]:
y_dummies.head()

          high  low  medium
10.0       0.0  0.0     1.0
10000.0    0.0  1.0     0.0
100004.0   1.0  0.0     0.0
100007.0   0.0  1.0     0.0
100013.0   0.0  1.0     0.0

In [42]:
# Split the data into test and training sets, with 30% of samples being put into the test set
X_train, X_test, y_train, y_test = train_test_split(X, y_dummies, test_size=0.3, random_state=0)
X2_train, X2_test, y2_train,y2_test = train_test_split(X2, y_dummies, test_size=0.3, random_state=0)

In [43]:
#train model
OVR = OneVsRestClassifier(LogisticRegression()).fit(X_train,y_train)
OVR2 =  OneVsRestClassifier(LogisticRegression()).fit(X2_train,y2_train)
print ("One vs rest accuracy: %0.3f" % OVR.score(X_train,y_train))
print ("One vs rest accuracy: %0.3f" % OVR.score(X2_train,y2_train))

One vs rest accuracy: 0.646
One vs rest accuracy: 0.504

In [180]:
#make prediction
data_pred = pd.read_json("test.json")
data_pred['created']=pd.to_datetime(data_pred["created"])
#extract pieces
data_pred['year']=data_pred['created'].dt.year
data_pred['month']=data_pred['created'].dt.month
data_pred['day']=data_pred['created'].dt.day
#description need to remove all empty spaces-number of characters
data_pred['desc_num']=data_pred['description'].apply(lambda x: len(x.replace(" ","")))
#number of features
data_pred['features_num']=data_pred["features"].apply(len)
#number of photos
data_pred['photos_num']=data_pred['photos'].apply(len)
pred_p = ["bathrooms","bedrooms","year","month","day","desc_num","features_num","price","photos_num","latitude","longitude"]

X=data_pred[pred_p]
y=OVR.predict_proba(X)
ids = data_pred['listing_id'].values

In [181]:
y

array([[ 0.07353375,  0.67795358,  0.23361522],
       [ 0.09152511,  0.65354057,  0.23874319],
       [ 0.03205053,  0.80217769,  0.16274755],
       ...,
       [ 0.07960115,  0.69021643,  0.23178132],
       [ 0.17849543,  0.50427499,  0.33281773],
       [ 0.09235113,  0.61868694,  0.27039312]])

In [217]:
ids = data_pred['listing_id']
type(ids)

pandas.core.series.Series

In [218]:
complete = np.column_stack((ids,y))
type(complete[1,1])

numpy.float64

In [212]:
#Create Kaggle submission
# Create a csv
submission_file = open("submission.csv", "w")

# Write to that csv
open_file_object = csv.writer(submission_file)

# Write the header of the csv
open_file_object.writerow(["listing_id","high","medium","low"])


# Write the rows of the csv
for x in complete : 
    open_file_object.writerows([x])

# Close the file
submission_file.close()

In [235]:
sub = pd.DataFrame()
sub['listing_id'] = data_pred['listing_id']
sub.to_csv("submission_rf.csv", index=False)

0        0.751487
1        0.745066
2        0.834228
3        0.605093
4        0.722567
5        0.975982
6        0.697479
7        0.769705
8        0.759186
9        0.838157
10       0.936540
11       0.737488
12       0.826739
13       0.878140
14       0.826444
15       0.742600
16       0.795770
17       0.931696
18       0.818223
19       0.611105
20       0.807242
21       0.671022
22       0.793542
23       0.664501
24       0.779139
25       0.823788
26       0.907610
27       0.770576
28       0.711881
29       0.702038
           ...
74629    0.566674
74630    0.674158
74631    0.757828
74632    0.799582
74633    0.762636
74634    0.824582
74635    0.868884
74636    0.908438
74637    0.596119
74638    0.729753
74639    0.986091
74640    0.852846
74641    0.629230
74642    0.828876
74643    0.687540
74644    0.961690
74645    0.693951
74646    0.818669
74647    0.811944
74648    0.646556
74649    0.770424
74650    0.673333
74651    0.986333
74652    0.692435
74653    0.924478
74654    0.692532
74655    0.903831
74656    0.769818
74657    0.682770
74658    0.711038
dtype: float64

In [1]:
"hello world".split()

['hello', 'world']

In [29]:
print "One vs rest accuracy: %f"

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-29-5b607169695d>, line 1)